---
import { Icon } from "astro-icon";

const { blok } = Astro.props
---

<div class="card bg-blue-400 shadow-md">
    <div class="card-body">
        <span class="card-title">{blok.name}</span>
        <div class="font-regular flex flex-wrap gap-2 text-xs text-slate-800">
            {blok.technologies.value.map((tag: any) => (
                <span class="p-2 bg-slate-50 rounded">{tag}</span>
            ))}
        </div>
        <p class="text-sm font-thin">{blok.description}</p>
        <div class="flex flex-grow flex-col justify-end">
            <div class="flex justify-end gap-2">
                <a href={blok.github_url.url}>
                    <Icon class="hover:scale-110" size="32px" name="mdi:github" />
                </a>
                <a href={blok.live_url.url}>
                    <Icon class="hover:scale-110" size="32px" name="tabler:external-link" />
                </a>
            </div>
        </div>
    </div>
</div>