---
import { sanityClient } from "sanity:client";

const projects = await sanityClient.fetch(`*[_type == "project"]`)
console.log(projects[0].links[0].name)
---

<div class="flex w-full flex-col items-start justify-center" data-aos="fade-up" data-aos-duration="2000" data-aos-offset="400" data-aos-mirror="true">
    <div class="mb-4 flex w-full items-center gap-2">
        <h1 class="text-3xl font-bold sm:whitespace-nowrap">These are some of my recent projects</h1>
        <div class="h-[1px] w-full grow rounded bg-gradient-to-r from-blue-400 to-purple-500"></div>
    </div>
    <div class="grid w-full grid-cols-1 grid-rows-3 gap-4 overflow-hidden text-white sm:grid-cols-3 sm:grid-rows-1">
        {projects.map((project: any) => (
            <div class="flex h-40 flex-col gap-1 rounded bg-blue-400 p-2 text-lg font-semibold sm:aspect-square sm:h-auto">
                <span>{project.name}</span>
                <div class="font-regular flex flex-wrap gap-2 text-xs text-slate-800">
                    {project.tags.map((tag: any) => (
                        <span class="p-2 bg-slate-50 rounded">{tag}</span>
                    ))}
                </div>
                <p class="text-sm font-thin">{project.description}</p>
                <div class="flex flex-grow flex-col justify-end">
                    <div class="flex justify-end gap-2">
                        {project.links.map((link: any) => (
                            <a class="rounded bg-blue-100 p-1 text-blue-900" href={link.url}>{link.name}</a>
                        ))}
                    </div>
                </div>
            </div>
        ))}
    </div>
</div>